<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
    <title>aniTrans | Add Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div id='container'>
            <div id='header'> 
                <img src="images/AniTransHeader.png" alt="header" id='header_img' />
                <ul id='nav'>
                    <li class='nav_element1'><a href="index.html">Home</a></li>
                    <div sec:authorize="hasRole('ROLE_ADMIN')"><li class='nav_element2'><a href="orders" class="active">Orders</a></li></div>
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"><li class='nav_element2'><a href="tours.html">Tours</a></li></div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')"><li class='nav_element4'><a href="drivers.html">Drivers</a></li></div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')"><li class='nav_element4'><a href="vehicles.html">Vehicles</a></li></div>
                    <li class='nav_element3'><a href="login.html">Account</a></li>
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"><li class='nav_element3'>
                    		<form th:action="@{/logout}" method="post">
            					<button class='b1'>Sign Out</button>
        					</form> </li></div>
                </ul>
            </div>
            
<div class="ex0">
<h1><img src="images/logo.png" width="45" height="40" alt="logo" id="logo" />Add Order</h1>
</div>            
             
<div class="ex0">

    <form action="#" th:action="@{/add-order}" th:object="${newOrder}" method="post" id="statusOrder">
    		<div th:if="${#fields.hasErrors('*')}">
                <h3 style="color:red;">Please fix the following error(s)</h3>
        </div>
        
<div class="ex9">     	
        <p>From: </p>
        <p>Name: <input type="text" th:field="*{fromName}" /></p>
        <p th:if="${#fields.hasErrors('fromName')}" th:errors="*{fromName}" style="color:red;">From Name Error</p>
        <p>Address: <input type="text" th:field="*{fromStreet}" /></p>
        <p th:if="${#fields.hasErrors('fromStreet')}" th:errors="*{fromStreet}" style="color:red;">From Street Error</p>
        <p>PLZ / Town: <input type="text" th:field="*{fromPlz}" /><input type="text" th:field="*{fromTown}" /></p>
        <p th:if="${#fields.hasErrors('fromPlz')}" th:errors="*{fromPlz}" style="color:red;">From PLZ Error</p>
        <p th:if="${#fields.hasErrors('fromTown')}" th:errors="*{fromTown}" style="color:red;">From Town Error</p>
</div>

<div class="ex9"> 
        <p>To: </p>
        <p>Name: <input type="text" th:field="*{toName}" /></p>
        <p th:if="${#fields.hasErrors('toName')}" th:errors="*{toName}" style="color:red;">To Name Error</p>
        <p>Address: <input type="text" th:field="*{toStreet}" /></p>
        <p th:if="${#fields.hasErrors('toStreet')}" th:errors="*{toStreet}" style="color:red;">To Street Error</p>
        <p>PLZ / Town: <input type="text" th:field="*{toPlz}" /><input type="text" th:field="*{toTown}" /></p>
        <p th:if="${#fields.hasErrors('toPlz')}" th:errors="*{toPlz}" style="color:red;">To PLZ Error</p>
        <p th:if="${#fields.hasErrors('toTown')}" th:errors="*{toTown}" style="color:red;">To Town Error</p>
</div>      
        
<div class="ex9">         
        <p>Until: <input type="text" th:field="*{until}" placeholder="dd.MM.yyyy"/> </p>
        <p th:if="${#fields.hasErrors('until')}" th:errors="*{until}" style="color:red;">Until Error</p>
        <p>Timeframe: <input type="text" th:field="*{timeframe}" placeholder="HH:mm - HH:mm"/></p>
        <p th:if="${#fields.hasErrors('timeframe')}" th:errors="*{timeframe}"  style="color:red;">Timeframe Error</p>
        <p>Type of Animal: <input type="text" th:field="*{typeOfAnimal}" /></p>
        <p th:if="${#fields.hasErrors('typeOfAnimal')}" th:errors="*{typeOfAnimal}" style="color:red;">Type of Animal Error</p>
        <p>Number of Animals: <input type="text" th:field="*{numberOfAnimals}" /></p>
        <p th:if="${#fields.hasErrors('numberOfAnimals')}" th:errors="*{numberOfAnimals}" style="color:red;">Number of Animals Error</p>
        <p>Time Estimation (in hrs): <input type="text" th:field="*{timeEstimation}" placeholder="HH"/></p>
        <p th:if="${#fields.hasErrors('timeEstimation')}" th:errors="*{timeEstimation}"  style="color:red;">Time Estimation Error</p>
        <p>Start Time: <input type="text" th:field="*{startTime}" placeholder="dd.MM.yyyy, HH:mm"/> </p>
        <p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" style="color:red;">Start Time Error</p>
</div>
        
<div class="ex9">         
        <p>Vehicle: <select th:field="*{vehicle}">
        		<option
         		 th:value="none"
         		 th:text="none">Vehicle</option>
  			<option th:each="vehicle : ${vehicles}" 
         		 th:value="${vehicle.name}"
         		 th:text="${vehicle.name}">Vehicle</option>
		</select></p>
        <p th:if="${#fields.hasErrors('vehicle')}" th:errors="*{vehicle}" style="color:red;">Vehicle Error</p>
        <p th:text="${vehicleError}" style="color:red;"></p>
 </div>

<div class="ex9">     
        <p>Driver: <select th:field="*{driver}">
        		<option
         		 th:value="none"
         		 th:text="none">Driver</option>
  			<option th:each="user : ${users}" 
         		 th:value="${user.id + ' - ' + user.name}"
         		 th:text="${user.id + ' - ' + user.name}">Driver</option>
		</select></p>
        <p th:if="${#fields.hasErrors('driver')}" th:errors="*{driver}" style="color:red;">Driver Error</p>
        <p th:text="${driverError}" style="color:red;"></p>
</div>
       
        <label><button class='b5'>Submit</button></label>
    </form>
    
    </div>
    </div>
</body>
</html>