<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
    <title>aniTrans | Change Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div id='container'>
            <div id='header'> 
                <img src="images/banner.jpg" alt="header" id='header_img' />
                <ul id='nav'>
                    <li class='nav_element1'><a href="index.html">Home</a></li>
                    <li class='nav_element2'><a href="orders.html">Orders</a></li>
                     <li class='nav_element2'><a href="tours.html" class="active">Tours</a></li>
                    <li class='nav_element4'><a href="drivers.html">Drivers</a></li>
                    <li class='nav_element3'><a href="login.html">Login</a></li>
                </ul>
            </div>
             
<div class="ex0">
	<h2>Change Status</h2>
    <form action="#" th:action="@{/change-status}" th:object="${order}" method="post" id="statusOrder">
    		<p>Order Number: <input type="text" th:value="${order.id}" th:field="*{id}" th:readonly="readonly"/></p>
        <p>From: <input type="text" th:value="${order.fromAddr}" th:field="*{fromAddr}" th:readonly="readonly"/></p>
        <p th:if="${#fields.hasErrors('fromAddr')}" th:errors="*{fromAddr}">From Error</p>
        <p>To: <input type="text" th:value="${order.toAddr}" th:field="*{toAddr}" th:readonly="readonly"/></p>
        <p th:if="${#fields.hasErrors('toAddr')}" th:errors="*{toAddr}">To Error</p>
        <p>Until: <input type="datetime-local" th:value="${order.until}" th:field="*{until}" th:readonly="readonly"/></p>
        <p th:if="${#fields.hasErrors('until')}" th:errors="*{until}">Until Error</p>
        <p>Timeframe: <input type="text" th:value="${order.timeframe}" th:field="*{timeframe}" th:readonly="readonly"/></p>
        <p th:if="${#fields.hasErrors('timeframe')}" th:errors="*{timeframe}">Timeframe Error</p>
        <p>Type of Animal: <input type="text" th:value="${order.typeOfAnimal}" th:field="*{typeOfAnimal}" th:readonly="readonly"/></p>
        <p th:if="${#fields.hasErrors('typeOfAnimal')}" th:errors="*{typeOfAnimal}">Type of Animal Error</p>
        <p>Number of Animals: <input type="text" th:value="${order.numberOfAnimals}" th:field="*{numberOfAnimals}" th:readonly="readonly"/></p>
        <p th:if="${#fields.hasErrors('numberOfAnimals')}" th:errors="*{numberOfAnimals}">Number of Animals Error</p>
        <p>Time Estimation: <input type="text" th:value="${order.timeEstimation}" th:field="*{timeEstimation}" th:readonly="readonly"/></p>
        <p th:if="${#fields.hasErrors('timeEstimation')}" th:errors="*{timeEstimation}">Time Estimation Error</p>
        <p>Start Time: <input type="datetime-local" th:value="${order.startTime}" th:field="*{startTime}" th:readonly="readonly"/></p>
        <p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">Start Time Error</p>
        <p>Driver: <select th:field="*{driver}" th:value="${order.startTime}" th:readonly="readonly">
        		<option
         		 th:value="none"
         		 th:text="none">Driver</option>
  			<option th:each="user : ${users}" 
         		 th:value="${user.name}"
         		 th:text="${user.name}">Driver</option>
		</select></p>
    		<p>Status: <input type="text" th:value="${order.orderStatus}" th:field="*{orderStatus}" /></p>
        <p>Message: <textarea name="message" form="statusOrder" th:value="${order.statusMessage}" th:field="*{statusMessage}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
    </div>
    </div>
</body>
</html>