<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>AniTrans | Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>AniTrans</h1>
	<a href="index.html">Home</a> <a href="login.html">Login</a>
	<h2>Register</h2>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
    		<p>Username: <input type="text" th:field="*{username}" /></p>
    		<p>E-Mail: <input type="text" th:field="*{email}" /></p>
        <p>Password: <input type="password" th:field="*{password}" /></p>
        <p><input type="submit" value="Register" /></p>
    </form>
    <a href="register">Register</a>
</body>
</html>