<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
    <title>aniTrans | Tours</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div id='container'>
            <div id='header'> 
                <img src="images/banner.jpg" alt="header" id='header_img' />
                <ul id='nav'>
                    <li class='nav_element1'><a href="index.html">Home</a></li>
                    <div sec:authorize="hasRole('ROLE_ADMIN')"><li class='nav_element2'><a href="orders">Orders</a></li></div>
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"><li class='nav_element2'><a href="tours.html" class="active">Tours</a></li></div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')"><li class='nav_element4'><a href="drivers.html">Drivers</a></li></div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')"><li class='nav_element4'><a href="vehicles.html">Vehicles</a></li></div>
                    <li class='nav_element3'><a href="login.html">Account</a></li>
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"><li class='nav_element3'>
                    		<form th:action="@{/logout}" method="post">
            					<button class='b1'>Sign Out</button>
        					</form> </li></div>
                </ul>
            </div>
             
<div class="ex0">
<h1><img src="images/logo.png" width="45" height="40" alt="logo" id="logo" />Tours</h1>

	<h2>Undelivered Tours</h2>
	<button id="undeliveredButton"  class='b3' onclick="toggleUndelivered(this.id)">Hide Table</button>
    <table id="undelivered">
 		<tr>
   		 	<th>Order Number</th>
		    <th>From</th> 
		    <th>To</th>
		    <th>Until</th>
		    <th>Timeframe</th>
		    <th>Type of Animal</th>
 		   	<th>Number of Animals</th>
 		   	<th>Time Estimation</th>
 		   	<th>Start Time</th>
 		   	<th>Driver</th>
 		   	<th>Vehicle</th>
 		   	<th>Status</th>
 		   	<th>Status Message</th>
 		   	<th></th>
 		 </tr>
 		 <tr th:each="order : ${unsuccessfulOrders}">
 		   <td th:text="${order.id}"></td>
 		   <td th:text="${order.fromAddr}"></td> 
 		   <td  th:text="${order.toAddr}"></td>
 		   <td  th:text="${#dates.format(order.until, 'dd.MM.yyyy')}"></td>
 		   <td  th:text="${order.timeframe}"></td>
 		   <td  th:text="${order.typeOfAnimal}"></td>
 		   <td  th:text="${order.numberOfAnimals}"></td>
 		   <td  th:text="${order.timeEstimation} +  hours"></td>
 		   <td  th:text="${#dates.format(order.startTime, 'dd.MM.yyyy, HH:mm')}"></td>
 		   <td th:text="${order.driver}"></td>
 		   <td th:text="${order.vehicle}"></td>
 		   <td th:text="${order.orderStatus}"></td>
 		   <td th:text="${order.statusMessage}"></td>			   
 		   <td>
 		   <a th:href="@{/change-status(id=${order.id})}" onclick="return confirm('Are you sure you would like to edit this status?')"><button class='b1'>Change Status</button></a>
 		   </td>
		  </tr>
	</table>
	<p id="undeliveredError" th:text="${unsuccessfulOrdersError}"></p>
	<h2>Delivered Tours</h2>
	<button id="deliveredButton"  class='b3' onclick="toggleDelivered(this.id)">Hide Table</button>
    <table id="delivered">
 		<tr>
   		 	<th>Order Number</th>
		    <th>From</th> 
		    <th>To</th>
		    <th>Until</th>
		    <th>Timeframe</th>
		    <th>Type of Animal</th>
 		   	<th>Number of Animals</th>
 		   	<th>Time Estimation</th>
 		   	<th>Start Time</th>
 		   	<th>Driver</th>
 		   	<th>Status</th>
 		   	<th>Status Message</th>
 		   	<th></th>
 		 </tr>
 		 <tr th:each="order : ${successfulOrders}">
 		   <td th:text="${order.id}"></td>
 		   <td th:text="${order.fromAddr}"></td> 
 		   <td  th:text="${order.toAddr}"></td>
 		   <td  th:text="${#dates.format(order.until, 'dd.MM.yyyy')}"></td>
 		   <td  th:text="${order.timeframe}"></td>
 		   <td  th:text="${order.typeOfAnimal}"></td>
 		   <td  th:text="${order.numberOfAnimals}"></td>
 		   <td  th:text="${order.timeEstimation} +  hours"></td>
 		   <td  th:text="${#dates.format(order.startTime, 'dd.MM.yyyy, HH:mm')}"></td>
 		   <td th:text="${order.driver}"></td>
 		   <td th:text="${order.vehicle}"></td>
 		   <td th:text="${order.orderStatus}"></td>
 		   <td th:text="${order.statusMessage}"></td>			   
 		   <td>
 		   <a th:href="@{/change-status(id=${order.id})}" onclick="return confirm('Are you sure you would like to edit this status?')"><button class='b1'>Change Status</button></a>
 		   </td>
		  </tr>
	</table>
	<p id="deliveredError" th:text="${successfulOrdersError}"></p>
	</div>
	
	</div>
	
	<script>
		function toggleDelivered(id) {
    			var table = document.getElementById("delivered");
    			var error = document.getElementById("deliveredError");
    			var button = document.getElementById(id);
    			if (table.style.display === "none") {
    				table.style.display = "table";
    				error.style.display = "block";
    				 button.firstChild.data = "Hide Table";
   			} else {
   				table.style.display = "none";
   				error.style.display = "none";
   				button.firstChild.data = "Show Table";
  	  		}
		}
		function toggleUndelivered(id) {
			var table = document.getElementById("undelivered");
			var error = document.getElementById("undeliveredError");
			var button = document.getElementById(id);
			if (table.style.display === "none") {
				table.style.display = "table";
				error.style.display = "block";
				button.firstChild.data = "Hide Table";
			} else {
				table.style.display = "none";
				error.style.display = "none";
				button.firstChild.data = "Show Table";
	  		}
	}
</script>
	
</body>
</html>